name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ArtemSerebrennikov/buildozer-action@v1
        with:
          command: buildozer android debug
          buildozer_version: master
      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: Architect-Bypass-APK
          path: bin/*.apk
